{% extends 'base.html.twig' %}

{% block title %}JobOffer{% endblock %}

{% block body %}
<div class="base">

    <!-- Page -->
    <div class="page">

        <!-- Page Header-->
        <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="white-text">{{job_offer.title}}</h2>
                        <span class="white-text">Ref. 1007</span>
                        <ol class="breadcrumb">
                            <li>
                                <div class="portfolio-nav">
                                     {% if job_previous|length != 0 %}
                                        <a href="{{ path ('job_offer_show', { id: job_previous[0].id })}}" class="waves-effect waves-dark"><i class="fa fa-angle-left" aria-hidden="true"></i> Prev</a>
                                    {% endif %}
                                        <a href="{{ path ('job_offer_index') }}" class="waves-effect waves-dark"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                                    {% if job_next|length != 0 %}
                                        <a href="{{ path ('job_offer_show', { id: job_next[0].id })}}" class="waves-effect waves-dark">Next <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    {% endif %}
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- Page Content-->
        <section class="single-project-section section-padding light-gray-bg">
            <div class="container">
                <div class="project-overview">
                    <div class="row mb-80">
                        <div class="col-xs-12 col-md-8">
                            <p class="ref grey-text no-margin">Ref. 1007</p>
                            <h2>{{job_offer.title}}</h2>
                            <p>{{job_offer.description}}</p>
                        </div>

                        <div class="col-xs-12 col-md-4 quick-overview">
                            <ul class="portfolio-meta">
                                <li><span> Pulished at </span>{{job_offer.creationDate|date('d/m/y')}}</li>
                                <li><span> Position </span>{{job_offer.location}}</li>
                                <li><span> Contract Type </span>{{job_offer.JobType}}</li>
                                <li><span> Salary </span>{{job_offer.salary}} &euro;</li>
                                <li><span> Location </span>{{job_offer.location}}</li>
                                <li><span> Starting date </span>{{job_offer.closingDate|date('d/m/y')}}</li>
                            </ul>
                            
                            {% if is_granted('ROLE_ADMIN') %}
                                    <a style="width:23.5vw; height:4vw; font-size:3rem;padding-top:7% " class="btn gradient secondary waves-effect waves-light btn-register" href="{{ path('job_offer_edit', {'id': job_offer.id}) }}">edit</a>
                             {% else %}
                                    {% if candidatureExists %}
                                        <div class="btn btn-block btn-success mt-30 waves-effect waves-light disabled">You have applied for this job</div>
                                    {% else %}
                                        <a class="btn btn-block gradient primary mt-30 waves-effect waves-light" href="{{ path ('candidature_new', {id:job_offer.id})}}">Apply for this job</a>
                                    {% endif %}
                             {% endif %}

                          </div>
                    </div>
                </div>

                <nav class="single-post-navigation no-margin" role="navigation">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-4">
                            <div class="previous-post-link">

                                {% if job_previous|length != 0 %}
                                    <a href="{{ path ('job_offer_show', { id: job_previous[0].id })}}" class="waves-effect waves-dark"><i class="fa fa-angle-left" aria-hidden="true"></i> Prev</a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="hidden-xs hidden-sm col-md-4"></div>
                        <div class="col-xs-6 col-sm-6 col-md-4">
                            <div class="next-post-link">
                                {% if job_next|length != 0 %}
                                    <a href="{{ path ('job_offer_show', { id: job_next[0].id })}}" class="waves-effect waves-dark">Next 
                                    <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </nav>
            </div>
        </section>

    </div>

</div>
{% endblock %}