{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

</style>

        <!-- Page Header-->
        <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="white-text">Admin Page</h2>
                        
                        <ol class="breadcrumb">
                            <li><a href="#!">Home</a></li>
                            <li class="active">Contact</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- Page Content-->
                <div class="portfolio-container">

                    <ul class="portfolio-filter brand-filter text-center" style="padding:5rem;">
                        
        <li><a class=" waves-effect waves-light" data-group="commercial" href="{{ path ('client_index')}}"style="padding:1rem;">Clients</a></li>
        <li><a class=" waves-effect waves-light" data-group="commercial" href="{{ path ('candidat_index')}}"style="padding:1rem;">Candidats</a></li>
        <li><a class=" waves-effect waves-light" data-group="commercial" href="{{ path ('admin_job_offer_index')}}"style="padding:1rem;">Job Offers</a></li>
        <li><a class=" waves-effect waves-light" data-group="commercial" href="{{ path ('experience_index')}}"style="padding:1rem;">Experiences</a></li>
        <li><a class=" waves-effect waves-light" data-group="commercial" href="{{ path ('job_category_index')}}"style="padding:1rem;">Job Category</a></li>
        <li><a class=" waves-effect waves-light" style="padding:1rem" data-group="commercial" href="{{ path ('job_type_index')}}">Job Types</a></li>
        <li><a class=" waves-effect waves-light" style="padding:1rem" data-group="commercial" href="{{ path ('admin_candidature_index')}}">Candidatures</a></li>

                    </ul>

                    
{% endblock %}
