{% extends 'base.html.twig' %}

{% block title %}JobCategory index{% endblock %}

{% block body %}
<h1 style="padding-bottom:2rem; padding-top:10rem; background-color: #2F3138;text-align: center; color:white;margin-top:0">JobCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job_category in job_categories %}
            <tr>
                <td>{{ job_category.id }}</td>
                <td>{{ job_category.category }}</td>
                <td>
                    <a style="width:7rem;height:3rem;font-size:0.8em;padding:initial;"href="{{ path('job_category_show', {'id': job_category.id}) }}"class="btn gradient  grey lighten-2 black waves-effect waves-light btn-register">show</a>
                    <a style="width:7rem;height:3rem;font-size:0.8em;padding:initial;" href="{{ path('job_category_edit', {'id': job_category.id}) }}"class="btn gradient  secondary  waves-effect waves-light btn-register">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('job_category_new') }}"class="btn bn-lg gradient grey lighten-2 btn-block waves-effect waves-light btn-register; color:black;"><span class="black-text">Create new</a>

        <a target="_self" href="{{ path ('admin_index')}}"class="btn bn-lg gradient secondary black btn-block waves-effect waves-light btn-register">
    <span>Return to admin page</span></a>
{% endblock %}
