{{ form_start(form) }}
    
   <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="input-field">
                        {{ form_widget(form.nom_societe) }}
                        {{ form_label(form.nom_societe, 'nom_societe', {
                            'label_attr': {'class': 'nom_societetype_activite'}
                        }) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="input-field">
                        {{ form_widget(form.type_activite) }}
                        {{ form_label(form.type_activite, 'type_activite', {
                            'label_attr': {'class': 'type_activite'}
                        }) }}
                    </div>
                </div>
                <button class="btn bn-lg gradient primary btn-block waves-effect waves-light btn-register">{{ button_label|default('Save') }}</button>
            </div>
        </div>
    </section>
   
{{ form_end(form) }}