{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
<h1 style="padding-bottom:2rem; padding-top:10rem; background-color: #2F3138;text-align: center; color:white;margin-top:0">Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_societe</th>
                <th>Type_activite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nomSociete }}</td>
                <td>{{ client.typeActivite }}</td>
                <td>
                    <a style="width:7rem;height:3rem;font-size:0.8em;padding:initial;" href="{{ path('client_show', {'id': client.id}) }}"class="btn gradient grey lighten-2 black waves-effect waves-light btn-register">show
                    <a style="width:7rem;height:3rem;font-size:0.8em;padding:initial;"href="{{ path('client_edit', {'id': client.id}) }}"class="btn gradient secondary  waves-effect waves-light btn-register">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


        <a href="{{ path('client_new') }}"class="btn bn-lg gradient grey lighten-2 black btn-block waves-effect waves-light btn-register">Create new</a>
        <a target="_self" href="{{ path ('admin_index')}}"class="btn bn-lg gradient secondary btn-block waves-effect waves-light btn-register"style="margin:0;">
    <span>Return to admin page</span></a>
{% endblock %}
