{% extends 'base.html.twig' %}

{% block title %}InfoAdminCandidat{% endblock %}

{% block body %}
    <h1>InfoAdminCandidat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ info_admin_candidat.id }}</td>
            </tr>
            <tr>
                <th>Date_created</th>
                <td>{{ info_admin_candidat.dateCreated ? info_admin_candidat.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_updated</th>
                <td>{{ info_admin_candidat.dateUpdated ? info_admin_candidat.dateUpdated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_deleted</th>
                <td>{{ info_admin_candidat.dateDeleted ? info_admin_candidat.dateDeleted|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Files</th>
                <td>{{ info_admin_candidat.files }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('info_admin_candidat_index') }}">back to list</a>

    <a href="{{ path('info_admin_candidat_edit', {'id': info_admin_candidat.id}) }}">edit</a>

    {{ include('info_admin_candidat/_delete_form.html.twig') }}
{% endblock %}
