{{ form_start(registrationForm) }}

            <div class="input-field ">
         {{ form_widget(registrationForm.email) }}
         {{ form_label(registrationForm.email, 'email', {
            'label_attr': {'class': 'email'}
        }) }}
    </div>

    <div class="input-field ">
         {{ form_widget(registrationForm.plainPassword) }}
         {{ form_label(registrationForm.plainPassword, 'password', {
            'label_attr': {'class': 'password'}
        }) }}
        <i class="fa fa-eye show-password"></i>
        <span class="help-block">Type your password.</span>                       

    </div>

    <div class="input-field ">
        {{ form_widget(registrationForm.agreeTerms) }}
        {{ form_label(registrationForm.agreeTerms, 'I have read and i accept ') }}
            <a href="{{path('app_login')}}" target="_blank" style= " font-size: 15px">Terms Of Use</a></label>
    </div>


        <button type="submit" class="btn btn-lg gradient secondary btn-block waves-effect waves-light mt-20 mb-20">{{ button_label|default('Create an account') }}</button>
        <div class="links">
            <a href="{{path('app_login')}}">Already have an account? Click here</a>
        </div>

{{ form_end(registrationForm) }}